{% extends 'base.html.twig' %}

{% block title %}Caisse{% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('dashboard') }}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {% endblock %}


{% block body %}
    <div class="mt-5 me-5 ms-5 " id="panier-table">
        <div class="row mb-4 justify-content-between d-flex ">
            <a class="btn-success bg-success btn w-15 h-25" href="{{ path('admin',{'id': User.id}) }} }}">Dashboard</a>
            <a class="btn-danger bg-danger btn w-15 h-25" href="{{ logout_path('main') }}">Déconnexion</a>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card h-50">
                <div class="card-header table-responsive pb-0">
                    <table id="product-table" class="table align-items-center mb-0">
                        <thead>
                        <tr>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Name
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                Firstname
                            </th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                Email
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="align-middle text-center text-sm">
                                <span class="text-xs font-weight-bold"> {{ User.name }} </span>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <span class="text-xs font-weight-bold"> {{ User.firstName }} </span>
                            </td>
                            <td>
                                <div class="avatar-group mt-2">
                                    <p>{{ User.email }}</p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class=" mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6> Transaction </h6>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Image
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Nom
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Prix
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Quantité
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for panierItem in panierItems %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="{{ asset('build/images/' ~ panierItem.products.img) }}"
                                                     class="w-25" alt="{{ panierItem.products.img }}">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="avatar-group mt-2">
                                            <p>{{ panierItem.products.name }}</p>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-xs font-weight-bold">{{ panierItem.products.price }}</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-xs font-weight-bold">{{ panierItem.quantity }}</span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <form action="{{ path('app_validate_transaction') }}" id="validation-form" method="post">
            <button type="submit" class="btn-success bg-success btn w-15 h-25">Valider</button>
        </form>
    </div>
    <script>
        function refreshPanier() {
            const id = {{ id }};
            // Effectuer une requête AJAX pour récupérer les données mises à jour du panier
            fetch('{{ path('app_home', {'id': id}) }}')  // Notez la virgule ici
                .then(response => response.text())
                .then(html => {
                    // Mettre à jour le contenu de la table avec les nouvelles données
                    document.getElementById('panier-table').innerHTML = html;
                });
        }

        // Appeler la fonction de rafraîchissement toutes les secondes
        setInterval(refreshPanier, 3000); // 1000 ms = 1 seconde
    </script>
{% endblock %}
