{% extends 'base.html.twig' %}

{% block title %}Day{% endblock %}

{% block body %}
    <div class="text-center d-flex align-items-center justify-content-center align-middle centered">

        <div class="text-center align-items-center justify-content-center">

            <div class="card card-body text-center align-items-center justify-content-center width-80">
                <h1 class="m-2 pb-3 text-center">Jour</h1>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ day.id }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>{{ day.date ? day.date|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Total en espèce</th>
                        <td>{{ day.cashTotal }}</td>
                    </tr>
                    <tr>
                        <th>Total par carte</th>
                        <td>{{ day.cardTotal }}</td>
                    </tr>
                    <tr>
                        <th>Total par chèque</th>
                        <td>{{ day.chequeTotal }}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="align-items-center justify-content-between align-self-center">
                    <a class="btn btn-warning btn-small mt-1" href="{{ path('app_day_edit', {'id': day.id}) }}">Edit</a>

                    {{ include('day/_delete_form.html.twig') }}

                    <a class="btn btn-secondary btn-small mt-3" href="{{ path('app_day_index') }}">Retour</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
