{% extends 'base.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}
    <h1>Transactions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr>
                <th>Transactions_date</th>
                <td>{{ transaction.transactionsDate ? transaction.transactionsDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Total_amount</th>
                <td>{{ transaction.totalAmount }}</td>
            </tr>
            <tr>
                <th>Cash_amount</th>
                <td>{{ transaction.cashAmount }}</td>
            </tr>
            <tr>
                <th>Card_amount</th>
                <td>{{ transaction.cardAmount }}</td>
            </tr>
            <tr>
                <th>Cheque_amount</th>
                <td>{{ transaction.chequeAmount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_transactions_index') }}">back to list</a>

    <a href="{{ path('app_transactions_edit', {'id': transaction.id}) }}">edit</a>

    {{ include('transactions/_delete_form.html.twig') }}
{% endblock %}
